## Demographic Data Validation

In [12]:
# Import libraries
import pandas as pd

In [13]:
# Read in dataset
demographics = pd.read_csv('datasets/Basico_SP1.csv', encoding='ISO-8859-1', sep=';', thousands='.', decimal=',', usecols=[0, 14, 21, 22, 23, 25])

In [14]:
# Check original data shape, types and missing entries
demographics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18363 entries, 0 to 18362
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Cod_setor         18363 non-null  int64
 1   Nome_do_distrito  18363 non-null  object
 2   V001              18333 non-null  float64
 3   V002              18333 non-null  float64
 4   V003              18333 non-null  float64
 5   V005              18333 non-null  float64
dtypes: float64(4), int64(1), object(1)
memory usage: 860.9+ KB

In [15]:
# Rename columns to improve data legibility
demographics.columns = ['sector_id', 'district', 'households', 'sector_dwellers', 'household_dwellers', 'avg_monthly_income']

In [16]:
# Validate transformations
demographics

,sector_id,district,households,sector_dwellers,household_dwellers,avg_monthly_income
0,355030801000001,ÁGUA RASA,266.0,800.0,3.01,2091.32
1,355030801000002,ÁGUA RASA,306.0,913.0,2.98,1650.09
2,355030801000003,ÁGUA RASA,189.0,625.0,3.31,1280.43
3,355030801000004,ÁGUA RASA,181.0,572.0,3.16,1119.59
4,355030801000005,ÁGUA RASA,240.0,754.0,3.14,1416.90
...,...,...,...,...,...,...
18358,355030896000243,LAJEADO,96.0,336.0,3.50,772.09
18359,355030896000244,LAJEADO,54.0,209.0,3.87,692.50
18360,355030896000245,LAJEADO,87.0,339.0,3.90,630.06
18361,355030896000246,LAJEADO,38.0,163.0,4.29,597.37
18362,355030896000247,LAJEADO,123.0,464.0,3.77,630.13

In [17]:
# Save validated dataset to csv
demographics.to_csv('datasets/sp_demographics.csv')