## Preparing and cleaning up data

In [11]:
# Import libraries and read in dataset
import pandas as pd
import geopandas as gpd

properties = pd.read_csv('datasets/Sao_Paulo.csv')
postcodes = pd.read_csv('datasets/sp_addresses.csv')
demographics = pd.read_csv('datasets/Basico_SP1.csv', encoding='ISO-8859-1', sep=';', thousands='.', decimal=',', usecols=[0, 14, 21, 22, 23, 25])
geoid = gpd.read_file('datasets/SP_Setores_2020/SP_Setores_2020.shp')

In [12]:
# Drop duplicates from properties
properties.drop_duplicates()

# Print the total number of residential properties
print('\nTotal number of properties announced in Sao Paulo dataset = ', len(properties.index))

# Dataset info
print(properties.info())

# Have a look at a random sample of 10 rows
properties.sample(10)

Total number of properties announced in Sao Paulo dataset =  10008
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10008 entries, 0 to 10007
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rua        6574 non-null   object
 1   Bairro     9996 non-null   object
 2   Cidade     10008 non-null  object
 3   Metragem   10008 non-null  int64
 4   Quartos    10008 non-null  int64
 5   Banheiros  10008 non-null  int64
 6   Vagas      10008 non-null  int64
 7   Valor      10008 non-null  object
dtypes: int64(4), object(4)
memory usage: 625.6+ KB
None

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
73,Rua Doutor Franco da Rocha,Perdizes,São Paulo,452,4,6,2,R$ 4.240.000
6018,NaN,Cidade Monções,São Paulo,212,4,5,4,R$ 1.900.000
4102,"Rua Manduri, 0",Jardim Paulistano,São Paulo,740,5,6,5,R$ 9.800.000
6595,NaN,Jardim da Glória,São Paulo,265,4,5,5,R$ 2.900.000
3334,Rua Maestro Elias Lobo,Jardim Paulista,São Paulo,500,4,5,4,R$ 10.000.000
8746,"Rua José Piragibe, 340",Vila Indiana,São Paulo,96,2,2,1,R$ 720.000
7834,NaN,Bosque da Saúde,São Paulo,379,6,6,4,R$ 4.990.000
789,Rua dos Tamanás,Vila Madalena,São Paulo,110,1,1,3,R$ 3.950.000
3298,NaN,Jardim Leonor,São Paulo,780,5,5,4,R$ 7.500.000
1102,Rua Sônia Ribeiro,Brooklin Paulista,São Paulo,600,4,5,4,R$ 4.000.000

### properties df
By looking at a random sample of the dataset rows (from the above task), we observe that some entries in the columns like 'Rua' (address) and 'Bairro' (ward) may have null or inconsistent values (address with/without number), and that may impact the geographic generalization of the results. Also, the column 'Valor' (price) has special characters ('$', '.' , '/'), that may hinder future mathematical calculations.
Hence, the first step is to drop the rows without an address, and edit data into a consistent format, removing house numbers for identity protection. Then, we should confirm if any of the ward missing values can be filled based on entries with the same address values. Finally, we should remove the special characters in the 'Value' column.

In [13]:
# Keep rows with non-null addresses
prop_with_address = properties[properties['Rua'].notna()]

# Edit addresses into a consistant format
prop_with_address['Rua'] = prop_with_address['Rua'].str.replace('\d+', '').str.replace(',', '').str.strip()


prop_with_address.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6574 entries, 0 to 10007
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rua        6574 non-null   object
 1   Bairro     6562 non-null   object
 2   Cidade     6574 non-null   object
 3   Metragem   6574 non-null   int64
 4   Quartos    6574 non-null   int64
 5   Banheiros  6574 non-null   int64
 6   Vagas      6574 non-null   int64
 7   Valor      6574 non-null   object
dtypes: int64(4), object(4)
memory usage: 462.2+ KB

/tmp/ipykernel_8744/1977921048.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  prop_with_address['Rua'] = prop_with_address['Rua'].str.replace('\d+', '').str.replace(',', '').str.strip()
/tmp/ipykernel_8744/1977921048.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prop_with_address['Rua'] = prop_with_address['Rua'].str.replace('\d+', '').str.replace(',', '').str.strip()

In [14]:
# Lookup addresses with ward missing values
prop_ward_missing = prop_with_address[prop_with_address['Bairro'].isna()]

# List of addresses with ward missing values
addresses = prop_ward_missing['Rua'].tolist()

# Lookup if missing values appear somewhere in the dataset
same_address = prop_with_address[prop_with_address['Rua'].isin(addresses)]

# Dictionary of missing values
same_address = same_address[same_address['Bairro'].notna()]
same_address = same_address.sort_values(['Rua', 'Bairro'])
full_address = dict(zip(same_address.Rua, same_address.Bairro))
full_address['Rua Professor Lúcio Martins Rodrigues'] = 'Morumbi'   # As we could not find other properties at this address, we lookedup in google maps and added this entry manually
print(full_address)

# Fill in ward missing values based on dictionary references
prop_with_address['Bairro'] = prop_with_address['Bairro'].fillna(prop_with_address['Rua'].apply(lambda x: full_address.get(x)))

prop_with_address.info()

{'Avenida Comendador Adibo Ares': 'Morumbi', 'Rua Alvorada do Sul': 'Jardim Guedala', 'Rua Madalena de Morais': 'Jardim Leonor', 'Rua Pacobá': 'Jardim Panorama', 'Rua Professor Eduardo Monteiro': 'Jardim Leonor', 'Rua Santo Eufredo': 'Jardim Guedala', 'Rua Vergueiro': 'Vila Firmiano Pinto', 'Rua Professor Lúcio Martins Rodrigues': 'Morumbi'}
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6574 entries, 0 to 10007
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rua        6574 non-null   object
 1   Bairro     6574 non-null   object
 2   Cidade     6574 non-null   object
 3   Metragem   6574 non-null   int64
 4   Quartos    6574 non-null   int64
 5   Banheiros  6574 non-null   int64
 6   Vagas      6574 non-null   int64
 7   Valor      6574 non-null   object
dtypes: int64(4), object(4)
memory usage: 462.2+ KB

/tmp/ipykernel_8744/3432316183.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prop_with_address['Bairro'] = prop_with_address['Bairro'].fillna(prop_with_address['Rua'].apply(lambda x: full_address.get(x)))

In [15]:
# Split column 'Valor'
prop_with_address[['Moeda', 'Valor_Anuncio', 'Tipo_Anuncio']] = prop_with_address['Valor'].str.split(expand=True)

# Filter properties for sale - rentals contain values 'per month/per year' in the column 'Tipo_Anuncio', therefore we will only keep null entries.
sale_properties = prop_with_address[prop_with_address['Tipo_Anuncio'].isna()]

# Convert 'Prices' format from string to float
sale_properties["Valor_BRL"] = sale_properties["Valor_Anuncio"].str.replace(".","").astype(float)

# Config display to suppress decimal cases and scientific notation of floats
pd.set_option("display.precision", 2)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Keep columns relevants to the project
sale_properties = sale_properties.drop(['Valor', 'Moeda', 'Valor_Anuncio', 'Tipo_Anuncio'], axis=1)

# Checking entries and dtypes
sale_properties.sample(10)

/tmp/ipykernel_8744/1995719334.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prop_with_address[['Moeda', 'Valor_Anuncio', 'Tipo_Anuncio']] = prop_with_address['Valor'].str.split(expand=True)
/tmp/ipykernel_8744/1995719334.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prop_with_address[['Moeda', 'Valor_Anuncio', 'Tipo_Anuncio']] = prop_with_address['Valor'].str.split(expand=True)
/tmp/ipykernel_8744/1995719334.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prop_with_address[['Moeda', 'Valor_Anuncio', 'Tipo_Anuncio']] = prop_with_address['Valor'].str.split(expand=True)
/tmp/ipykernel_8744/1995719334.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  sale_properties["Valor_BRL"] = sale_properties["Valor_Anuncio"].str.replace(".","").astype(float)
/tmp/ipykernel_8744/1995719334.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sale_properties["Valor_BRL"] = sale_properties["Valor_Anuncio"].str.replace(".","").astype(float)

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor_BRL
9592,Alameda dos Tacaúnas,Planalto Paulista,São Paulo,1300,5,4,20,8000000.00
3929,Avenida São Valério,Jardim Guedala,São Paulo,435,4,5,5,1850000.00
9985,Rua Albertina de Oliveira Godinho,Jardim Guedala,São Paulo,1305,5,7,6,5900000.00
167,Rua Judith,Vila Madalena,São Paulo,146,3,2,2,1550000.00
4486,Rua Olímpio de Campos,Jardim Vila Formosa,São Paulo,260,4,3,2,800000.00
5697,Rua Dona Balduína,Sumaré,São Paulo,320,4,7,3,3200000.00
7065,Rua Guaçuma,Vila Califórnia,São Paulo,143,2,1,1,380000.00
537,Rua Mário,Vila Romana,São Paulo,217,2,1,2,1200000.00
6007,Rua Matilde Diez,Vila do Castelo,São Paulo,453,3,1,5,780000.00
4306,Rua Catipara,Brooklin Paulista,São Paulo,250,3,5,4,1390000.00

### postcodes df

In [16]:
# Have a look at a random sample of 10 rows
print(postcodes.sample(10))

# Filter postcodes of Sao Paulo
postcodes_sp = postcodes.query("nome_localidade == 'São Paulo'")

# Drop duplicates
postcodes_sp.drop_duplicates()

# Format addresses to enable join
postcodes_sp['rua'] = postcodes_sp['tipo_logr'] + ' ' + postcodes_sp['logr_nome']
postcodes_sp['rua'] = postcodes_sp['rua'].str.title().str.strip()
postcodes_sp.head()

       Unnamed: 0 tipo_logr                    logr_nome  \
44608      595181     Praça      Vidal Antônio de Castro
20782      571355       Rua            Francisco Tapajós
2380       545393    Acesso            Andorinha Cristal
18708      569281       Rua               Espírito Santo
42866      593439   Avenida                   Taquandava
36144      586717       Rua     Paulino Pacheco de Mello
40125      590698       Rua                  Ruy Camargo
26904      577477       Rua          José Barros Magaldi
13566      564139       Rua          Conceição dos Ouros
17957      568530       Rua  Elizabeth Constantino Horii

                                          logr_compl numero  \
44608                  Praça Vidal Antônio de Castro    NaN
20782            Rua Francisco Tapajós - até 449/450    NaN
2380                        Acesso Andorinha Cristal    NaN
18708                             Rua Espírito Santo    NaN
42866                             Avenida Taquandava    NaN
36144                   Rua Paulino Pacheco de Mello    NaN
40125                                Rua Ruy Camargo    NaN
26904  Rua José Barros Magaldi - de 1181/1182 ao fim    NaN
13566                        Rua Conceição dos Ouros    NaN
17957                Rua Elizabeth Constantino Horii    NaN

                     bairro nome_localidade sigla_uf        cep  latitude  \
44608                  Lapa       São Paulo       SP 5076030.00    -23.52
20782   Vila Santo Estéfano       São Paulo       SP 4153000.00    -23.63
2380     Balneário São José       São Paulo       SP 4864230.00    -23.77
18708             Aclimação       São Paulo       SP 1526020.00    -23.63
42866          Cidade Ipava       São Paulo       SP 4950000.00    -23.72
36144          Jardim Robru       São Paulo       SP 8150320.00    -23.52
40125      Jardim Amaralina       São Paulo       SP 5570170.00    -23.60
26904       Jardim São João       São Paulo       SP 5815010.00    -23.66
13566      Parque Boturussu       São Paulo       SP 3803060.00    -23.49
17957  Jardim Santos Dumont       São Paulo       SP 5367150.00    -23.57

       longitude
44608     -46.71
20782     -46.62
2380      -46.72
18708     -46.57
42866     -46.76
36144     -46.41
40125     -46.80
26904     -46.74
13566     -46.49
17957     -46.75

,Unnamed: 0,tipo_logr,logr_nome,logr_compl,numero,bairro,nome_localidade,sigla_uf,cep,latitude,longitude,rua
0,543013,Rua,George Dantu,Rua George Dantu,NaN,Chácara Maria Trindade,São Paulo,SP,5275051.00,-23.42,-46.81,Rua George Dantu
1,543014,Rua,Maria Augusta Fiske,Rua Maria Augusta Fiske,NaN,Chácara Maria Trindade,São Paulo,SP,5275055.00,-23.42,-46.81,Rua Maria Augusta Fiske
2,543015,Rua,Doutor Nilo Cairo,Rua Doutor Nilo Cairo,NaN,Chácara Maria Trindade,São Paulo,SP,5275060.00,-23.41,-46.82,Rua Doutor Nilo Cairo
3,543016,Rua,Leonel Martiniano,Rua Leonel Martiniano,NaN,Chácara Maria Trindade,São Paulo,SP,5275065.00,-23.42,-46.82,Rua Leonel Martiniano
4,543017,Rua,André Polak,Rua André Polak,NaN,Chácara Maria Trindade,São Paulo,SP,5275070.00,-23.42,-46.81,Rua André Polak

In [17]:

# Keep columns relevant to the project
postcodes_sp = postcodes_sp.drop(['Unnamed: 0', 'tipo_logr', 'logr_nome', 'logr_compl', 'numero', 'nome_localidade', 'sigla_uf'], axis=1)

# Rename columns to improve data legibility
postcodes_sp.columns = ['Bairro', 'CEP', 'Latitude', 'Longitude', 'Rua']
postcodes_sp.sample(10)

,Bairro,CEP,Latitude,Longitude,Rua
15005,Vila Caiúba,5207170.00,-23.40,-46.75,Rua Deoclides Britto
18979,Imirim,2467065.00,-23.49,-46.65,Rua Eugênio Colber
24765,Vila Progresso (Zona Leste),8245020.00,-23.52,-46.43,Avenida Jacatirão Da Serra
23335,Vila Paulistania,3720130.00,-23.50,-46.53,Rua Hugo Wolf
42610,Conjunto Residencial Jardim Canaã,4382140.00,-23.66,-46.66,Rua Sumaia Gebara Farah
36308,Vila Rui Barbosa,3734210.00,-23.51,-46.52,Rua Paulo Primo Bertocco
55888,Vila Marilena,8411345.00,-23.54,-46.41,Estrada Nossa Senhora Da Fonte
9523,Pinheiros,5432020.00,-23.56,-46.69,Rua Belmiro Braga
54340,Mata Fria,2287220.00,-23.43,-46.58,Rua Virgínia Araújo
28119,Jardim São Jorge (Raposo Tavares),5567130.00,-23.60,-46.79,Rua Juliante Vigna

### demographics df

In [18]:
# Have a look at a random sample of 10 rows
print(demographics.sample(10))

# Drop invalid entry column
demographics.dropna(how='all', axis=1, inplace=True)

# Rename columns to improve data legibility
demographics.columns = ['CD_SETOR', 'DISTRITO', 'DOMICILIOS', 'MORADORES_SETOR', 'MORADORES_DOMICILIO', 'RENDA_MENSAL']

demographics.sample(10)

             Cod_setor   Nome_do_distrito   V001   V002  V003    V005
7647   355030838000397          JABAQUARA  74.00 271.00  3.66  696.18
11933  355030863000083           PIRITUBA 291.00 908.00  3.12 1590.11
2359   355030817000313        CAMPO LIMPO 134.00 437.00  3.26  683.18
2370   355030817000324        CAMPO LIMPO 116.00 353.00  3.04  898.02
7339   355030838000085          JABAQUARA 214.00 661.00  3.09 1356.54
13996  355030873000069         SÃO MATEUS 203.00 632.00  3.11 1202.81
16069  355030883000219       VILA ANDRADE 154.00 578.00  3.75  420.45
7011   355030837000039           ITAQUERA 182.00 619.00  3.40  950.47
15259  355030880000059            TATUAPÉ 321.00 919.00  2.86 2326.32
4061   355030825000023  CIDADE TIRADENTES 194.00 663.00  3.42  443.98

,CD_SETOR,DISTRITO,DOMICILIOS,MORADORES_SETOR,MORADORES_DOMICILIO,RENDA_MENSAL
8820,355030844000219,JARDIM HELENA,260.00,941.00,3.62,612.28
8041,355030842000096,JARAGUÁ,205.00,749.00,3.65,782.95
15981,355030883000129,VILA ANDRADE,88.00,193.00,2.19,4516.99
9438,355030847000019,JOSÉ BONIFÁCIO,222.00,645.00,2.91,1287.45
13880,355030872000142,SÃO LUCAS,194.00,635.00,3.27,1378.70
3769,355030823000149,CIDADE DUTRA,265.00,888.00,3.35,1688.74
4901,355030829000028,FREGUESIA DO Ó,278.00,907.00,3.26,1518.60
3004,355030820000004,CARRÃO,311.00,953.00,3.06,1352.26
10566,355030855000077,PARELHEIROS,167.00,591.00,3.54,1047.62
8182,355030842000273,JARAGUÁ,514.00,2136.00,4.16,530.94

### geoid df

In [19]:
# Have a look at a random sample of 10 rows
print(geoid.sample())

# Filter geospatial polygons that belong to the city of Sao Paulo
geoid_sp = geoid[geoid.NM_MUN == "São Paulo"]

# Filter columns relevant to the project
geoid_sp = geoid_sp.drop(['CD_SIT', 'NM_SIT', 'CD_UF', 'NM_UF', 'SIGLA_UF', 'CD_MUN', 'CD_DIST', 'CD_SUBDIST', 'NM_SUBDIST'], axis=1)

# Convert column 'CD_SECTOR' data format from str to int
geoid_sp = geoid_sp.astype({'CD_SETOR':'int'})

# Validation
geoid_sp.head(10)

              CD_SETOR CD_SIT                              NM_SIT CD_UF  \
18583  351490805000042      8  Área Rural (exclusive aglomerados)    35

           NM_UF SIGLA_UF   CD_MUN        NM_MUN    CD_DIST       NM_DIST  \
18583  São Paulo       SP  3514908  Elias Fausto  351490805  Elias Fausto

        CD_SUBDIST NM_SUBDIST  \
18583  35149080500       None

                                                geometry
18583  POLYGON ((-47.37636 -23.10749, -47.37632 -23.1...

,CD_SETOR,NM_MUN,NM_DIST,geometry
65509,355030801000001,São Paulo,Água Rasa,"POLYGON ((-46.56954 -23.56918, -46.57016 -23.5..."
65510,355030801000002,São Paulo,Água Rasa,"POLYGON ((-46.56806 -23.56521, -46.56786 -23.5..."
65511,355030801000003,São Paulo,Água Rasa,"POLYGON ((-46.56619 -23.56605, -46.56632 -23.5..."
65512,355030801000004,São Paulo,Água Rasa,"POLYGON ((-46.56876 -23.56856, -46.56863 -23.5..."
65513,355030801000005,São Paulo,Água Rasa,"POLYGON ((-46.57121 -23.57005, -46.57056 -23.5..."
65514,355030801000007,São Paulo,Água Rasa,"POLYGON ((-46.57197 -23.57243, -46.57202 -23.5..."
65515,355030801000009,São Paulo,Água Rasa,"POLYGON ((-46.57359 -23.56831, -46.57364 -23.5..."
65516,355030801000010,São Paulo,Água Rasa,"POLYGON ((-46.57327 -23.56550, -46.57191 -23.5..."
65517,355030801000011,São Paulo,Água Rasa,"POLYGON ((-46.56960 -23.56560, -46.57107 -23.5..."
65518,355030801000012,São Paulo,Água Rasa,"POLYGON ((-46.56886 -23.56462, -46.56873 -23.5..."

In [29]:
# Merge properties and postcodes
property_codes = sale_properties.merge(postcodes_sp, on=['Rua', 'Bairro'])

# Drop duplicates from properties
property_codes.drop_duplicates()

# Merged dataset info
property_codes.info()

# Have a look at a random sample of 10 rows
print(property_codes.sample(10))

# Save merged dataframe as csv
property_codes.to_csv('./datasets/property_addresses.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6627 entries, 0 to 6626
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rua        6627 non-null   object
 1   Bairro     6627 non-null   object
 2   Cidade     6627 non-null   object
 3   Metragem   6627 non-null   int64
 4   Quartos    6627 non-null   int64
 5   Banheiros  6627 non-null   int64
 6   Vagas      6627 non-null   int64
 7   Valor_BRL  6627 non-null   float64
 8   CEP        6627 non-null   float64
 9   Latitude   6627 non-null   float64
 10  Longitude  6627 non-null   float64
dtypes: float64(4), int64(4), object(3)
memory usage: 621.3+ KB
                                  Rua               Bairro     Cidade  \
4302           Rua Giovanni Carnovali       Vila Caraguatá  São Paulo
489               Rua Cristiano Viana      Cerqueira César  São Paulo
6095  Rua Doutor Gentil Leite Martins  Vila Nova Caledônia  São Paulo
4615              Rua Teixeira Mendes            Liberdade  São Paulo
5282               Rua Mourato Coelho            Pinheiros  São Paulo
5431                Rua Escobar Ortiz  Vila Nova Conceição  São Paulo
2275                    Avenida Ireré    Planalto Paulista  São Paulo
266                       Rua Araripe      Vila Califórnia  São Paulo
1703         Rua Corgie Assad Abdalla           Vila Sônia  São Paulo
4808                 Rua San Salvador       Jardim América  São Paulo

      Metragem  Quartos  Banheiros  Vagas   Valor_BRL        CEP  Latitude  \
4302       123        4          2      2   500000.00 4191000.00    -23.64
489        125        2          2      1   880000.00 5411001.00    -23.56
6095       266        3          2      4  1500000.00 4648002.00    -23.65
4615       185        4          2      2   750000.00 1517010.00    -23.56
5282       138        6          2      1  1390000.00 5417002.00    -23.56
5431       352        4          4      3  6340000.00 4512051.00    -23.59
2275       361        3          4      4  2200000.00 4064004.00    -23.63
266        300        6          3      2   430000.00 3215010.00    -23.61
1703       296        4          1      4  1490000.00 5622010.00    -23.60
4808       669        6          5      5 12990000.00 1437060.00    -23.57

      Longitude
4302     -46.60
489      -46.68
6095     -46.67
4615     -46.62
5282     -46.69
5431     -46.67
2275     -46.65
266      -46.56
1703     -46.72
4808     -46.67

In [30]:
# Merge demographics and geoids
geo_stats = geoid_sp.merge(demographics, on = 'CD_SETOR')

# Merged dataset info
geo_stats.info()

# Have a look at a random sample of 10 rows
print(geo_stats.sample(10))

# Save merged dataframe as csv
geo_stats.to_csv('./datasets/geo_stats.csv')

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 12682 entries, 0 to 12681
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CD_SETOR             12682 non-null  int64
 1   NM_MUN               12682 non-null  object
 2   NM_DIST              12682 non-null  object
 3   geometry             12682 non-null  geometry
 4   DISTRITO             12682 non-null  object
 5   DOMICILIOS           12654 non-null  float64
 6   MORADORES_SETOR      12654 non-null  float64
 7   MORADORES_DOMICILIO  12654 non-null  float64
 8   RENDA_MENSAL         12654 non-null  float64
dtypes: float64(4), geometry(1), int64(1), object(3)
memory usage: 990.8+ KB
              CD_SETOR     NM_MUN            NM_DIST  \
7301   355030856000010  São Paulo               Pari
7841   355030861000094  São Paulo              Perus
540    355030810000016  São Paulo               Brás
5007   355030838000018  São Paulo          Jabaquara
2910   355030825000085  São Paulo  Cidade Tiradentes
5324   355030839000076  São Paulo             Jaçanã
1435   355030817000085  São Paulo        Campo Limpo
11095  355030884000143  São Paulo        Vila Curuçá
4522   355030836000043  São Paulo     Itaim Paulista
6877   355030851000135  São Paulo           Mandaqui

                                                geometry           DISTRITO  \
7301   POLYGON ((-46.61101 -23.52682, -46.61006 -23.5...               PARI
7841   POLYGON ((-46.76534 -23.40977, -46.76514 -23.4...              PERUS
540    POLYGON ((-46.62333 -23.53476, -46.62230 -23.5...               BRÁS
5007   POLYGON ((-46.65382 -23.65261, -46.65424 -23.6...          JABAQUARA
2910   POLYGON ((-46.40046 -23.58515, -46.40042 -23.5...  CIDADE TIRADENTES
5324   POLYGON ((-46.56739 -23.47316, -46.56768 -23.4...             JAÇANÃ
1435   POLYGON ((-46.76198 -23.61997, -46.76176 -23.6...        CAMPO LIMPO
11095  POLYGON ((-46.42665 -23.49697, -46.42667 -23.4...        VILA CURUÇÁ
4522   POLYGON ((-46.38789 -23.49888, -46.38794 -23.4...     ITAIM PAULISTA
6877   POLYGON ((-46.63254 -23.47206, -46.63249 -23.4...           MANDAQUI

       DOMICILIOS  MORADORES_SETOR  MORADORES_DOMICILIO  RENDA_MENSAL
7301       222.00           728.00                 3.28       1610.76
7841       164.00           628.00                 3.83        972.63
540        114.00           438.00                 3.84       1001.01
5007       173.00           559.00                 3.23       2207.22
2910       190.00           770.00                 4.05        570.22
5324       189.00           651.00                 3.44       1424.01
1435       282.00           910.00                 3.23       1329.85
11095       63.00           236.00                 3.75        828.37
4522       235.00           861.00                 3.66        444.80
6877       258.00           784.00                 3.04       1927.16